body{
    font-family: 'Vollkorn', sans-serif;
    position: relative;
    
}
/*Video:
-Set the video as background, make it fixed.
-make sure it appears behind all elements.
-make it spread across the whole webpage*/
video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}

/*Video does not work in small devices:
-Hide the video and set picture as background (use media queries)
-make it spread accross the whole webpage*/
@media (max-device-width:768px){
    body{
        background: url(https://static.pexels.com/photos/9149/pexels-photo.jpeg) center center fixed;
        background-size: cover;
    }
    #bgvideo{
        display: none;   
    }
}

/*Style the Home section and elements inside it: 
-reduce the margin-bottom of h1 and h2.
-style the button and its hover state*/
#home{
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding-top: 3%;
}






@media (max-width:768px){
    .carousel-inner .item img{
        height: 300px;   
    }
    .carousel-inner h2{
        font-size: 23px;   
    }
}
@media (max-width:400px){
    .carousel-inner .item img{
        height: 200px;   
    }
    .carousel-inner h2{
        font-size: 17px;   
    }
    .navbar-brand{
        font-size: 12px;   
    }
}



/*
.input{
    background-color: rgba(29,167,179,0.1);
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    margin-top: -65px;
    padding-left: 150px
}

.navbar-brand{
    text-align: center;
    font-size: 30px;
    
}
#tlogo{
    margin: -45px;
    margin-left: -145px;
    opacity:.3;
    
 }

#qlogo{
    margin: -45px;
    margin-left: -145px;
    opacity: .3;
 }
*/


.input{
/*    background-color: rgba(29,167,179,0.1);*/
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px;
    margin-top: -65px;
    padding-left: 150px
}

.navbar-brand{
    text-align: center;
    font-size: 30px;
    
}



/*
#hdlog{
    background-color: rgba(29,167,179,0.1);
    background-color: beige;
    
    
    
}
*/



#tlogo{
    margin: -45px;
    margin-left: 230px;
    opacity:.3;
    
 }

#qlogo{
    margin: -45px;
    margin-right: 360px;
    opacity: .7;
    
 }

#file{
    align-content: center;
    margin-left: 80px;
    
    
}


#head{
    text-align: center;
    color: lawngreen;
    font-size: 40px;
    padding-top: 0;
    margin-top: -25px;
    margin-bottom: 20px;
    padding-right: 110px;
}
.input label{
    color:yellowgreen;
    font-size: 19px;
    margin-left: 60px;
    
    
}
.form-control{
    
    background-color: rgba(169,967,39,0.1);
    color: white;
    margin-left: 30px;
    
    
}

#exampleInputFile{
    
    color:lightcoral;
    font-size: 15px;
    
}


/*Style the footer*/
.footer{
    background-color: rgba(29,167,179,0.1);
    color: #fff;
/*    padding: 10px 0;*/
    margin-top: 150px;
    font-size: 15px;
}
    
.content{
    padding-top: 10px;
    padding-bottom: 4px;
    padding-left: 50px;
    color: aqua;
    
}


.content img{
    margin-left:-150px;
    
}

#descrip{
    color:antiquewhite
}

#media{
    padding-bottom: 15px;
    
}



.btn-fb{
    background-color: #5b8bd3;
    color: white;
    padding:2px;
    margin-right: 30px;
    width: 90px;
        
}

.btn-tw{
    background-color: #1da1f2;
    color: white;
    padding: 0px;
    margin-left:9px;
    width: 90px;
}


.btn-quora{
    background-color: #B92B27;
    color: black;
    padding: 5px;
    margin-top: 10px;
    width: 80px;
        
}

.btn-linkedin{
    background-color: mediumblue;
    color: white;
    padding: 4px;
    margin-left: 50px;
    margin-top: 10px;
    width: 100px;
}



















